#createUserModal, #updateUserModal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.modal_content{
  position: relative;
  margin: 20px auto 0;
  padding: 20px 20px 5px;
  width: 500px;
  min-height: 400px;
  background: white;
}

.modal_close{
  position: absolute;
  top: 0;
  right: 0;
}

.nav {
  margin-left: 10px;
}

.nav .mdl-navigation__link{
  height: 60px;
  line-height: 68px;
  color: #ccc;
  border-bottom: 4px solid transparent;
}

.nav .mdl-navigation__link:hover{
  color: #fff;
  border-bottom: 4px solid #fff;
}


