footer(class="mdl-mini-footer")
  div(class="mdl-mini-footer__left-section")
    div(class="mdl-logo") Training R1
    ul(class="mdl-mini-footer__link-list")
      li 
       a(href="https://github.com/chiufin/training_R1" target="_blank") &copy;Staccc Github
        