header
    header(class="mdl-layout__header")
        div(class="mdl-layout__header-row")
            span(class="mdl-layout-title") Training R1

            div(class="mdl-layout-spacer")
            nav(class="mdl-navigation")
                span #{userName}
                a(class="mdl-navigation__link" href="/api/logout") Log out