header
    header(class="mdl-layout__header")
        div(class="mdl-layout__header-row")
            span(class="mdl-layout-title") Training R1
            nav(class="nav mdl-navigation")
              a(class="mdl-navigation__link mdl-typography--text-uppercase" href="/users") Users
              a(class="mdl-navigation__link mdl-typography--text-uppercase" href="/files") Files
            div(class="mdl-layout-spacer")
            nav(class="mdl-navigation")
                div(class="icon material-icons") account_circle&nbsp;
                span #{userName} &nbsp;&nbsp;
                //- a(class="mdl-navigation__link" href="/api/logout") Log out
                button(class="logout mdl-button mdl-js-button mdl-button--icon") 
                    div(id="logout_header" class="logout icon material-icons") arrow_forward_ios
                    div(class="mdl-tooltip" data-mdl-for="logout_header") logout


