include ../mixins/btns.pug

header
    header(class="mdl-layout__header")
        div(class="mdl-layout__header-row")
            span(class="mdl-layout-title") Training R1
            nav(class="mdl-navigation")
              a(class="nav__link mdl-navigation__link mdl-typography--text-uppercase" href="/users") Users
              a(class="nav__link mdl-navigation__link mdl-typography--text-uppercase" href="/files") Files
            div(class="mdl-layout-spacer")
            nav(class="mdl-navigation")
                div(class="icon material-icons") account_circle&nbsp;
                span #{userName} &nbsp;&nbsp;
                +iconBtn('logout', 'logout_header', 'arrow_forward_ios', 'logout')
               

