div#tab
    button(type="button" class="mdl-chip")
        a(class="mdl-chip__text" href='/users') Users
    button(type="button" class="mdl-chip")
        a(class="mdl-chip__text" href='/files') Files
