include ../mixins/modal.pug
include ../mixins/input.pug
include ../mixins/coloredBtn.pug

+modal('updateUserModal', 'Update User')
    p(class="time")
    +dirtyInput('update_user_id', 'input', 'Id')
    +dirtyInput('update_user_name', 'input', 'Name')
    +dirtyInput('update_user_email', 'input', 'Email')
    +input('update_user_password', 'password', 'New Password')
    +input('update_user_password_confirm', 'password', 'Comfirm Password')
        span(class="error-psw-msg mdl-textfield__error") Password should be the same  
        span(class="error-msg mdl-textfield__error") Invalid input. Please try again. 
    +coloredBtn('Update','submit')