extends layout

block content
  include components/header.pug

  div#filePage
    h1 File List
    button#uploadFileBtn(class="mdl-button mdl-js-button") Upload File
    //- ul(class="mdl-list")
    //-     each val, i in files
    //-         li(class="mdl-list__item")
    //-             div(class="list") 
    //-                 p(class="id")  #{val.id}
    //-                 p #{val.name} 
    //-                 p #{val.email}
    //-             button(class="edit mdl-button mdl-js-button mdl-button--icon") 
    //-                 div(id="modify_user"+i class="icon material-icons") edit
    //-                 div(class="mdl-tooltip" data-mdl-for="modify_user"+i) edit
    //-             button(class="delete mdl-button mdl-js-button mdl-button--icon") 
    //-                 div(id="delete_user"+i class="icon material-icons") delete
    //-                 div(class="mdl-tooltip" data-mdl-for="delete_user"+i) delete