extends layout

block content
  include components/header.pug

  div(id="filePage" class="page")
    h1 File List
    button#uploadFileBtn(class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect") Upload File

    form(action="api/uploadFile" method="post" enctype="multipart/form-data")
      input(type="file" name="filetoupload")
      input(type="submit")
    a(href="api/download/stacccy.jpg") download

    table(class="mdl-data-table mdl-js-data-table")
      thead
        tr
          th(class="mdl-data-table__cell--non-numeric") Name
          th(class="mdl-data-table__cell--non-numeric") Download
          th(class="mdl-data-table__cell--non-numeric") Delete
      tbody
        each val, i in files
          tr
            td(class="id mdl-data-table__cell--non-numeric") #{val}
            td(class="mdl-data-table__cell--non-numeric") 
              a(href=`api/download/${val}`) download
              //- button(class="download mdl-button mdl-js-button mdl-button--icon") 
              //-   div(id="download_file"+i class="icon material-icons") edit
              //-   div(class="mdl-tooltip" data-mdl-for="download_file"+i) edit
            td(class="mdl-data-table__cell--non-numeric")
              button(class="delete mdl-button mdl-js-button mdl-button--icon") 
                div(id="delete_file"+i class="icon material-icons") delete
                div(class="mdl-tooltip" data-mdl-for="delete_file"+i) delete