extends layout

block content
  include components/header.pug

  div(id="filePage" class="page")
    h1 File List
    //- button#uploadFileBtn(class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect") Upload File

    form(class="upload")
      input(type="file" name="filetoupload" )
      input(type="submit")

    if files.length <= 0
      p No Files
    else
      table(class="mdl-data-table mdl-js-data-table")
        thead
          tr
            th(class="mdl-data-table__cell--non-numeric") Name
            th(class="mdl-data-table__cell--non-numeric") Download
            th(class="mdl-data-table__cell--non-numeric") Delete
        tbody
          each val, i in files
            tr
              td(class="file_name mdl-data-table__cell--non-numeric") #{val}
              td(class="mdl-data-table__cell--non-numeric") 
                button(class="download mdl-button mdl-js-button mdl-button--icon") 
                  div(id="download_file"+i class="icon material-icons") cloud_download
                  div(class="mdl-tooltip" data-mdl-for="download_file"+i) download
              td(class="mdl-data-table__cell--non-numeric")
                button(class="delete mdl-button mdl-js-button mdl-button--icon") 
                  div(id="delete_file"+i class="icon material-icons") delete
                  div(class="mdl-tooltip" data-mdl-for="delete_file"+i) delete