extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='/login') Login
  br
  button(class="delete mdl-button mdl-js-button mdl-button--icon") 
    div(class="logout icon material-icons") arrow_forward_ios
    div(class="mdl-tooltip" data-mdl-for="logout") logout
