doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/lib/mdl/material.min.css')
    link(rel='stylesheet', href='/style/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/icon?family=Material+Icons')
    script(src='/lib/mdl/material.min.js')
    script(src='/lib/jquery/jquery-3.3.1.min.js')
    script(src='/js/app.js')
  body
    block content