extends layout

include ./mixins/input.pug
include ./mixins/coloredBtn.pug

block content
  if ifLogin
    h1 Welcome, What is your main focus for today?
    a(href='/users') user 
    br
    a(href='/files') file
    br
    a(href='/api/logout') Log out
  else 
   div#loginPage
    h1 Login
    +input('account', 'input', 'Email')
    br
    +input('password', 'password', 'Password')
      span(class="error-msg mdl-textfield__error") Invalid input. Please try again. 
    +coloredBtn('Log in')
