extends layout

block content
  if ifLogin
    h1 Welcome, What is your main focus for today?
    a(href='/users') user management 
    br
    a(href='/api/logout') Log out
  else 
   div#loginPage
    h1 Login
    div(class="mdl-textfield mdl-js-textfield")
      label(for='account' class="mdl-textfield__label") Email
      input(type='input' id='account' class="mdl-textfield__input")
    br
    div(class="mdl-textfield mdl-js-textfield")
      label(for='password' class="mdl-textfield__label") Password
      input(type='password' id='password' class="mdl-textfield__input")
      span(class="error-msg mdl-textfield__error") Invalid input. Please try again. 
    div
      button(class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent") Log in
