extends layout

block content
  a(href='/') &lt;Index
  if ifLogin
    h1 Welcome, What is your main focus for today?
    a(href='/users') user management 
    br
    a(href='/login/logout') Log out
  else 
    h1 Login
    form(method='POST' action='/login/post')
      div
        label(for='account') Account
        input(type='input' id='account' placeholder='account' name='account')
      div
        label(for='password') Password
        input(type='password' id='password' placeholder='password' name='password')
      div
        button(type='submit') Log in
