extends layout

mixin nav
    header(class="mdl-layout__header")
        div(class="mdl-layout__header-row")
            span(class="mdl-layout-title") Training R1

            div(class="mdl-layout-spacer")
            nav(class="mdl-navigation")
                span User Name
                a(class="mdl-navigation__link" href="/api/logout") Log out


mixin createUserModal
    div#createUserModal
      div(class='modal_content')
        h1 Create User
        form(method='POST' action='/users/post')
            div(class="mdl-textfield mdl-js-textfield")
                label(for='user' class="mdl-textfield__label") User Name
                input(type='input' id='user' name='user' class="mdl-textfield__input")
            div
                button(type='submit' class="mdl-button mdl-js-button") Create
        button#closeUserPanel(class="modal_close mdl-button mdl-js-button mdl-button--icon") 
            i(class="material-icons") clear


block content
  +nav
  +createUserModal
  h1 User list
  button#createUser(class="mdl-button mdl-js-button") Create User
  ul(class="mdl-list")
    each val, i in users
        li(class="mdl-list__item")= val
            button(class="mdl-button mdl-js-button mdl-button--icon") 
                div(id="modify_user"+i class="icon material-icons") edit
                div(class="mdl-tooltip" data-mdl-for="modify_user"+i) edit
            button(class="mdl-button mdl-js-button mdl-button--icon") 
                div(id="delete_user"+i class="icon material-icons") delete
                div(class="mdl-tooltip" data-mdl-for="delete_user"+i) delete