extends layout

include ./mixins/table.pug
include ./mixins/btns.pug

block content
  include components/header.pug
  include components/createUserModal.pug
  include components/updateUserModal.pug
  div(id="users" class="page")
    h1 User list
    +grayBtn('createUser', 'Create User')
    br
    table(class="mdl-data-table mdl-js-data-table")
        thead
            tr
                +th('Id')
                +th('Name')
                +th('Email')
                +th('Edit')
                +th('Delete')
        tbody
            each val, i in users
                tr
                    +td(val.id, 'id')
                    +td(val.name)
                    +td(val.email)
                    +td()
                        button(class="edit mdl-button mdl-js-button mdl-button--icon") 
                            div(id="modify_user"+i class="icon material-icons") edit
                            div(class="mdl-tooltip" data-mdl-for="modify_user"+i) edit
                    +td()
                        button(class="delete mdl-button mdl-js-button mdl-button--icon") 
                            div(id="delete_user"+i class="icon material-icons") delete
                            div(class="mdl-tooltip" data-mdl-for="delete_user"+i) delete

    