extends layout

block content
  a(href='/') &lt;Index
  h1 User list
  button Create User
  ul 
    each val in ['ken', 'wilson', 'rachel', 'jake', 'stacy']
        li= val
            br
            button Modify
            button Delete
