extends layout

block content
  include components/header.pug
  include components/tab.pug
  include components/createUserModal.pug
  include components/updateUserModal.pug
  div#users
    h1 User list
    button#createUser(class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect") Create User
    ul(class="mdl-list")
        each val, i in users
            li(class="mdl-list__item")
                div(class="list") 
                    p(class="id")  #{val.id}
                    p #{val.name} 
                    p #{val.email}
                button(class="edit mdl-button mdl-js-button mdl-button--icon") 
                    div(id="modify_user"+i class="icon material-icons") edit
                    div(class="mdl-tooltip" data-mdl-for="modify_user"+i) edit
                button(class="delete mdl-button mdl-js-button mdl-button--icon") 
                    div(id="delete_user"+i class="icon material-icons") delete
                    div(class="mdl-tooltip" data-mdl-for="delete_user"+i) delete

    //- include components/footer.pug