mixin modal(mainID='createUserModal', mainTitle='Create User')
    div(id=mainID class="modal")
        div(class='modal_content')
            h1=mainTitle 
                block 
            button(class="modal_close mdl-button mdl-js-button mdl-button--icon") 
                i(class="material-icons") clear